<div class="container">
  <div class="row">
    <div class="col-6 offset-3 my-5 px-5 py-3 border border-primary">
      <h3>Calculate Investment</h3>
      <br>
      <p>
        Your deposits <input type="text" class="form-control form-control-sm" [(ngModel)]="annuity"> at the beginning of
        the year and at the end of each month in an account that pays <input type="text" class="form-control"
          [(ngModel)]="interestRate"> compounded
        monthly for <input type="text" class="form-control" [(ngModel)]="period"> year(s). What is the amount in the
        account at the end?
      </p>
      <button class="btn btn-primary" (click)="onCalculate()">Calculate</button>
      <hr />
      <input type="text" class="form-control" [(ngModel)]="amount"> is the amount in the account at the end.
      <br />
    </div>
  </div>
</div>